.sidebar-item {
    border-radius: 4px;
    position:relative;
    text-decoration: none;
}

.sidebar-item .p-button{
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 4px;
    padding: 0.585rem 0;
    cursor: pointer;
    outline: none;
    transition: background-color 0.2s;
    width: 100%;
}

.sidebar-item .p-button:focus {
    box-shadow: 0 0 0 1px #bbdefb;
}

.sidebar-item .p-button .p-button-icon{
    margin-right: 0px;
    font-size: 1.25rem;
    color: var(--text-color);
}

.sidebar-item .p-button .p-button-label{
    margin-top: 0.35rem;
    font-size: 0.8rem;
    color: var(--text-color);
}

.sidebar-item-highlighted .p-button.p-button-text.p-button-plain span {
    color: #EA7600;
}