.sidebar-item {
  color: var(--sidebar-item-color);
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s, box-shadow 0.2s;
  width: 100%;
  display: flex;
  align-items: center;
  font-weight: normal;
}

.sidebar-item:hover {
  background-color: var(--sidebar-item-hover);
}

.sidebar-item:focus {
  box-shadow: var(--sidebar-item-toggle-shadow);
  outline: none;
}

.sidebar-item-icon-container {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.5rem;
  position: relative;
}

.sidebar-item-icon {
  position: absolute;
}

.sidebar-item-active {
  font-weight: bold;
}
