[submodule "client/src/blender-rendering-api"]
	path = client/src/blender-rendering-api
	url = git@github.com:Hoodrobinrs/blender-rendering-api.git
[submodule "server/backend/src/blender-rendering-api"]
	path = server/backend/src/blender-rendering-api
	url = git@github.com:Hoodrobinrs/blender-rendering-api.git
