[importlinter]
root_package = bitrender
include_external_packages=True

[importlinter:contract:1]
name=Services don't import fastapi
type=forbidden
source_modules=
    bitrender.services.user.core
    bitrender.services.user.interfaces
forbidden_modules=
    fastapi