.layout-sidebar {
  user-select: none;
}

.logo-image {
  width: 2rem;
  height: 2rem;
  vertical-align: middle;
  margin-right: 0.5rem;
  filter: invert(75%);
}

.logo {
  padding: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border-bottom: 1px solid var(--sidebar-spacer-color);
}

.sidebar-container {
  list-style-type: none;
  overflow: auto;
  margin: 0;
  padding: 1rem;
  flex: 1;
}

.sidebar-spacer {
  border-top: 1px solid var(--sidebar-spacer-color);
  margin: 1rem 0;
}

.theme-light .layout-sidebar {
  .p-skeleton {
    background-color: #ffffff0f;
  }

  .p-skeleton:after {
    background: linear-gradient(90deg, #fff0, #ffffff0a, #fff0);
  }
}
