@import '../../node_modules/primereact/resources/themes/vela-orange/theme.css';
:root {
  --sidebar-background: linear-gradient(180deg, #1f2d40 10%, #1f2d40 100%);
  --sidebar-static-group-text-color: rgba(255, 255, 255, 0.6);
  --sidebar-spacer-color: #304562;
  --sidebar-title-color: rgba(255, 255, 255, 0.87);
  --sidebar-item-color: rgba(255, 255, 255, 0.87);
}
