@import '@/scss/variables.scss';

.roles-page {
  .roles-table-card {
    padding: 1rem;
  }

  .roles-default-role-card {
    padding: 1rem;
  }

  .roles-default-role-counter-card {
    padding: 1rem;
  }
}

.roles-table-title {
  font-size: 1.25rem;
  line-height: 1.2;
  font-weight: 500;
}

.search-field {
  height: 2.5rem;
  min-width: 15rem;
}

.add-new-button {
  height: calc(2.5rem - 2px);
}

.modify-button,
.delete-button {
  svg {
    margin-right: 0.25rem;
  }
}

.add-new-button,
.modify-button,
.delete-button {
  height: calc(2.5rem - 2px);

  @include media('<=desktop') {
    width: calc(2.5rem - 2px);
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      margin-right: 0;
    }

    .p-button-label {
      display: none;
    }
  }
}

.roles-table-card {
  .card-title {
    flex-grow: 99999999999999;
  }

  .card-actions {
    flex-wrap: wrap;
    flex-grow: 1;
  }

  .role-table-search {
    display: flex;
    flex-direction: row-reverse;
    flex-grow: 9999;

    .search-field {
      width: 100%;
    }
  }

  .role-table-actions {
    justify-content: space-between;
    flex-grow: 1;
  }

  .role-table-actions {
    display: flex;
    flex-shrink: 0;
    gap: 0.5rem;
  }
}
