.field-checkbox {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;

  .icon {
    position: absolute;
    pointer-events: none;
    color: black !important;
  }
}

.field-checkbox > label {
  margin-left: 0.5rem;
  line-height: 1;
  margin-top: 1px;
}
