#login-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  #login-page-title {
    font-size: 1.75rem;
    font-weight: 500;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }

  #login-no-account {
    margin-bottom: 1rem;
  }

  #login-no-account-text {
    color: var(--text-color-secondary);
    margin-right: 0.25rem;
  }

  #login-no-account-link {
    color: var(--blue-500);
    margin-right: 0.25rem;
  }

  label {
    margin-bottom: 0.5rem;
    width: 100%;
    font-weight: 500;
  }

  .p-inputtext {
    width: 100%;
  }

  #login-username {
    margin-bottom: 1rem;
  }

  #login-password-floor {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    margin-bottom: 1rem;
  }

  #login-forgot-password {
    color: var(--blue-500);
  }

  #login-submit {
    width: 100%;
  }
}
