@import '../../node_modules/primereact/resources/primereact.css';

@import '../../node_modules/@fontsource/lato/index.css';

@import './global.scss';

html,
body,
#root {
  height: 100%;
  font-family: lato !important;
  width: 100%;
}

body {
  height: 100%;
  margin: 0;
  background: linear-gradient(
    180deg,
    var(--surface-50) 0%,
    var(--surface-b) 100%
  );
  font-family: lato !important;
}

.p-component {
  font-family: lato !important;
}

a {
  text-decoration: none;
}

#app {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
