@import '../../node_modules/primereact/resources/primereact.css';

@import '../../node_modules/@fontsource/nunito/latin.css';

@import './global.scss';

body {
  height: 100vh;
  margin: 0;
  background: linear-gradient(
    180deg,
    var(--surface-50) 0%,
    var(--surface-b) 100%
  );
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
}

a {
  text-decoration: none;
}

#app {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
