@use "sass:meta";
@import "~@fontsource/nunito/index.css";
@import './reset.scss';
@import './primereact.scss';

html {
    font-size: 14px;
}

* {
    box-sizing: border-box;
}

:root {
    --font-family: Nunito !important;
}

body .p-component {
    font-family: var(--font-family);
}