@use "sass:meta";
@import "~@fontsource/nunito/index.css";
@import './reset.scss';
@import './primereact.scss';

html {
    font-size: 14px;
}

* {
    box-sizing: border-box;
}

:root {
    --font-family: Nunito !important;
}


body .p-component, body {
    font-family: var(--font-family);
}

h1, h2, h3, h4, h5, h6 {
    margin: 1.5rem 0 1rem 0;
    font-family: inherit;
    font-weight: 600;
    line-height: 1.2;
    color: inherit;
}

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
    margin-top: 0;
}

h5 {
    font-size: 1.25rem;
}
