.theme-light .datatable {
  border-top: 1px solid var(--surface-c);
  border-left: 1px solid var(--surface-c);
  border-right: 1px solid var(--surface-c);
}

.text-center .p-column-header-content {
  justify-content: center;
}
