.card {
  .p-card {
    padding: 1.25rem;
  }

  .p-card-body {
    padding: 0rem;
  }

  .p-card-content {
    padding: 0rem;
  }

  .card-header {
    display: flex;
    justify-content: space-between;
    min-height: 2.5rem;
    margin-bottom: 1rem;
  }

  .card-title {
    font-size: 1.5rem;
    font-weight: 500;
  }
}

.icon-card {
  .p-card {
    padding: 1.25rem;
    border-left: 4px solid;
  }

  .p-card-body {
    padding: 0rem;
  }

  .p-card-content {
    padding: 0rem;
  }

  .icon-card-header {
    display: flex;
    align-items: center;
  }

  .icon-card-title {
    margin-left: 0.5rem;
    font-size: 1.25rem;
    vertical-align: middle;
    font-weight: 500;
  }

  .icon-card-icon-box {
    border-radius: 4px;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icon-card-content {
    margin-top: 1rem;
  }
}
